<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>LoginMvc</display-name>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tinhthanhphoServlet</servlet-name>
        <servlet-class>controller.tinhthanhphoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>danhmucServlet</servlet-name>
        <servlet-class>controller.danhmucServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cosoyteServlet</servlet-name>
        <servlet-class>controller.web.cosoyteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chuyenkhoaServlet</servlet-name>
        <servlet-class>controller.chuyenkhoaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quanHuyenServlet</servlet-name>
        <servlet-class>controller.quanHuyenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loaiHinhServlet</servlet-name>
        <url-pattern>/loaihinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tinhthanhphoServlet</servlet-name>
        <url-pattern>/tinhthanhpho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>danhmucServlet</servlet-name>
        <url-pattern>/danhmuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cosoyteServlet</servlet-name>
        <url-pattern>/cosoyte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chuyenkhoaServlet</servlet-name>
        <url-pattern>/chuyenkhoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quanHuyenServlet</servlet-name>
        <url-pattern>/quanhuyen</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>trangchu.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loaiHinhServlet</servlet-name>
        <servlet-class>controller.loaiHinhServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>benhvienphongkhamServlet</display-name>
        <servlet-name>benhvienphongkhamServlet</servlet-name>
        <servlet-class>controller.benhvienphongkhamServlet</servlet-class>
    </servlet>
    <!--  <servlet-mapping>
        <servlet-name>benhvienphongkhamServlet</servlet-name>
        <url-pattern>/admin/benhvienphongkham/*</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.svg</url-pattern>
    </servlet-mapping>
</web-app>
