/medkee/nbproject/private/
/medkee/build/
/medkee/dist/
/medkee1/nbproject/private/
/medkee1/build/
/medkee2/nbproject/private/
/medkee2/build/
/socket/nbproject/private/
/testsocket/nbproject/private/
/testsocket/build/
/carStore/nbproject/private/
/carStore/build/